<!-- templates/registration/signup.html -->
<head>
  <link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css"/ >
  <script src="/jquery.js"></script>
  <script src="/build/jquery.datetimepicker.full.min.js"></script>
</head>
{% extends "base.html" %}

{% block title %}Création{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h2>Création d'une soirée</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Créer</button>
  </form>
{% else %}
  <h2>Bienvenue</h2>
  <p>Vous n'êtes pas connecté</p>
  <a href="{% url 'login' %}"><button class="btn btn-primary">Se connecter</button></a>
  <a href="{% url 'signup' %}"><button class="btn btn-primary">S'inscrire</button></a>
{% endif %}
{% endblock %}