<!-- templates/registration/signup.html -->
{% extends "base.html" %}

{% block title %}Rejoindre{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h2>Rejoindre</h2>
  <form method="post">
    {% csrf_token %}
    <label>Identifiant de la soirée</label><input name="id_party" type="text"></input>
    <button type="submit" class="btn btn-primary">Rejoindre</button>
  </form>
{% else %}
  <h2>Bienvenue</h2>
  <p>Vous n'êtes pas connecté</p>
  <a href="{% url 'login' %}"><button class="btn btn-primary">Se connecter</button></a>
  <a href="{% url 'signup' %}"><button class="btn btn-primary">S'inscrire</button></a>
{% endif %}
{% endblock %}