<!-- templates/base.html -->
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% bootstrap_messages %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}PartyCipe{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'partycipe/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap" rel="stylesheet">
</head>
<html class="bg-dark">
<header>
  <!-- Image and text -->
<nav class="navbar navbar-dark  bg-dark">
  <a class="navbar-brand" href="/">
    <img src="{% static "partycipe/media/full-white.png" %}" padding-bottom="100" height="60" class="d-inline-block align-top" alt="">
  </a>
</nav>



</header>
<body>
  <main class="bg-dark text-light text-center">
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>