<!-- templates/registration/password_reset_confirm.html -->
{% extends "base.html" %}

{% block title %}Entrez un nouveau mot de passe{% endblock %}

{% block content %}

{% if validlink %}

<h1>Saisissez un nouveau mot de passe</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Changer mon mot de passe">
</form>

{% else %}

<p>Le lien pour réinitialiser le mot de passe est invalide, il a peut être déjà été utilisé. Recommencez la procédure de réinitialisation.</p> 

{% endif %}
{% endblock %}